[safe]
	directory = /tmp/windmill/wk-default-nixos-JOCET/0198e635-69d0-dc50-26ac-9c604fa4d3a9/test-git-sync-windmill
	directory = /tmp/windmill/wk-default-nixos-jt9oD/019a2579-d779-59e4-1a70-f4bdce43b519/test-git-sync-windmill
	directory = /tmp/windmill/wk-default-nixos-sWf2X/019b8e28-4f46-4161-aa29-68e95b59922a/test-git-sync-windmill
	directory = /tmp/windmill/wk-default-nixos-wHYcJ/019b8ef2-3814-dafc-218e-547bb7d17cef/test-git-sync-windmill
	directory = /tmp/windmill/wk-default-nixos-jtsH3/019b8ef5-4532-1a33-1ae0-e65a08413a74/test-git-sync-windmill
	directory = /tmp/windmill/wk-default-nixos-acVH2/019b949d-6f46-e317-8339-384a85908046/test-git-sync-windmill
	directory = /tmp/windmill/wk-default-nixos-acVH2/019b94a8-e515-dceb-50ed-1f3c39be34b8/test-git-sync-windmill
