[safe]
	directory = /tmp/windmill/wk-default-nixos-JOCET/0198e635-69d0-dc50-26ac-9c604fa4d3a9/test-git-sync-windmill
	directory = /tmp/windmill/wk-default-nixos-jt9oD/019a2579-d779-59e4-1a70-f4bdce43b519/test-git-sync-windmill
	directory = /tmp/windmill/wk-default-nixos-sWf2X/019b8e28-4f46-4161-aa29-68e95b59922a/test-git-sync-windmill
